.shadow-root {
    border: 1px dashed brown;
    padding: 15px;
}

h2 {
    font-style: italic;
    color: darkblue;
    border: 5px solid darkblue;
    padding: 15px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, serif;
}

div.shadow-root /deep/ h2 {
    color: darkmagenta;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}